.style-modal-new-event {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 490px;
  min-width: 489px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
}

.buttons-footer-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 6px;
}

.css-14n9tpk-MuiPickersInputBase-root-MuiPickersOutlinedInput-root {
  height: 37px;
}

.css-16wnp7b-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 14px !important;
  transform: translate(14px, 10px) scale(1) !important;
  color: #757575 !important;
}

.css-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: 'Open Sans' !important;
}

.css-ii3kg6-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  font-size: 15px;
  font-weight: 400;
}

.container-summary-new-event {
  background: #fafafa;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
