@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

.container-header-button {
  display: flex;
  justify-content: space-between;
}

.css-1t1e38w-MuiFormControl-root-MuiPickersTextField-root{
  background: #FFFFFF;
}